[submodule "src/libs/submodules/LightGlue"]
	path = src/libs/submodules/LightGlue
	url = https://github.com/cvg/LightGlue

[submodule "src/libs/submodules/co-tracker"]
	path = src/libs/submodules/co-tracker
	url = https://github.com/facebookresearch/co-tracker
[submodule "src/libs/submodules/particle-sfm"]
	path = src/libs/submodules/particle-sfm
	url = https://github.com/bytedance/particle-sfm
